<app-nav-bar (onSearch)='doSearch($event)'></app-nav-bar>
<app-carousel></app-carousel>
<div class="container">
  <div class="col-md-6">
    <app-filtered-button-group (onSeeAllCheeses)='seeAllCheeses()'
                               (onSearchByName)='doSearch($event)'
                               (onSearchSubstitutes)='doSearchSubstitutes($event)'
                               (onSearchByFirmness)='searchByFirmness($event)'
                               (onSearchByAnimal)='searchByAnimal($event)' >
    </app-filtered-button-group>
  </div>
  <div class="col-md-6">
    <app-result-table [cheeses]='results'>></app-result-table>
  </div>
</div>
