<div class="btn-group-lg btn-group-vertical">
  <button type="button" class="btn btn-default">See All Cheeses</button>
  <div class="dropdown btn-group btn-group-lg">
    <button id="bg-vertical-dropdown-1" role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-lg btn-default">
      <!-- react-text: 59 -->Search for Cheese<!-- /react-text --><!-- react-text: 60 --> <!-- /react-text -->
      <span class="caret"></span></button>
    <ul role="menu" class="dropdown-menu" aria-labelledby="bg-vertical-dropdown-1">
      <div class="dropdown btn-group">
        <button id="bg-vertical-dropdown-1" role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-default">
      <!-- react-text: 65 -->Search By Firmness<!-- /react-text --><!-- react-text: 66 --> <!-- /react-text -->
      <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu" aria-labelledby="bg-vertical-dropdown-1">
          <li role="presentation" class="">
            <a role="menuitem" tabindex="-1" href="#">hard</a></li>
          <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#">semi-hard</a></li>
          <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#">soft</a>
          </li>
          <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#">semi-soft</a>
          </li>
        </ul>
      </div>
      <div class="dropdown btn-group">
        <button id="bg-vertical-dropdown-1" role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-default">
           <!-- react-text: 79 -->Search By Animal<!-- /react-text --><!-- react-text: 80 --> <!-- /react-text -->
           <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu" aria-labelledby="bg-vertical-dropdown-1">
          <li role="presentation" class="">
            <a role="menuitem" tabindex="-1" href="#">cow</a></li>
          <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#">goat</a></li>
          <li role="presentation" class=""><a role="menuitem" tabindex="-1" href="#">sheep</a></li>
          <li role="presentation" class="">
            <a role="menuitem" tabindex="-1" href="#">buffalo</a></li>
        </ul>
      </div>
      <div class="dropdown btn-group">
        <button id="bg-vertical-dropdown-1" role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-default">
                  <!-- react-text: 93 -->Search By Cheese Name<!-- /react-text --><!-- react-text: 94 --> <!-- /react-text -->
                  <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu" aria-labelledby="bg-vertical-dropdown-1">
          <li role="presentation" class="">
            <a role="menuitem" tabindex="-1" href="#">
              <input type="text"></a>
          </li>
        </ul>
      </div>
      <div class="dropdown btn-group">
        <button id="bg-vertical-dropdown-1" role="button" aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-default">
                      <!-- react-text: 102 -->Search for Substitute<!-- /react-text --><!-- react-text: 103 --> <!-- /react-text -->
                      <span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu" aria-labelledby="bg-vertical-dropdown-1">
          <li role="presentation" class="">
            <a role="menuitem" tabindex="-1" href="#"><input type="text">
              <button type="button" class="btn btn-default">GO!</button>
            </a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
  <button type="button" class="btn btn-default">Find Cheese Shop</button>
  <button type="button" class="btn btn-default">Surprise Me!</button>
  <button type="button" class="btn btn-default">My favorites</button>
</div>
